@page "/"
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject GlobalBool GlobalVariable
@inject GlobalSave GlobalSave
@inject GlobalPage GlobalPage
@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime

@using System.Diagnostics;
@using Models.Battalions
@using Models.GlobalVariables;
@using Models.SaveState;
@using System.Reflection


<PageTitle>Kingdom</PageTitle>

<style>
    body {
        background-color: #e8fcee;
        
        
    }
    .testCss {
        
    }
</style>

@if (showModal) {
    <Modal Title="Greetings, choose your Title and Name" OnClose="HandleCloseModal" />
}

<div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 20px;">
    <div style="display: flex; flex-direction: column;">
        <h3 style="font-size: 25px; text-align: center; font-family: garamond, cursive;">@($"{GlobalSave.NewSave.PlayerInfo.KingdomName}")</h3>
        <h3 style="font-size: 18px; text-align: center; font-family: garamond, cursive;">@($"Owned by: {GlobalSave.NewSave.PlayerInfo.Title} {GlobalSave.NewSave.PlayerInfo.Name}")</h3>
        <div style="width: 100%; height: 400px; background-color: aliceblue;"></div>
        <IdleGame.RazorComponents.UnitsRemaining Battalions="GlobalSave.NewSave.PlayerUnits"/>
        <button @onclick="BuildWizard">Wizard +5</button> 
        <button @onclick="DamageCalculator">@($"pDamage:{playerDamage}, eDamage:{enemyDamage}")</button>
        <button @onclick="ResetFile">RESET FILE</button>
        <button @onclick="Pause"> Pause Timer</button>
    </div>
    <div>
        <IdleGame.RazorComponents.CombatComponent PlayerTotalHealth="playerTotalHealth" PlayerTotalMageOffence="playerTotalMageOffence" PlayerTotalMageDefence="playerTotalMageDefence" 
        PlayerTotalRangeOffence="playerTotalRangeOffence" PlayerTotalRangeDefence="playerTotalRangeDefence" PlayerTotalMeleeOffence="playerTotalMeleeOffence" playerTotalMeleeDefence="playerTotalMeleeDefence"
        EnemyTotalHealth ="enemyTotalHealth" EnemyTotalMageOffence="enemyTotalMageOffence" EnemyTotalMageDefence="enemyTotalMageDefence" EnemyTotalRangeOffence="enemyTotalRangeOffence"
        EnemyTotalRangeDefence="enemyTotalRangeDefence" EnemyTotalMeleeOffence="enemyTotalMeleeOffence" EnemyTotalMeleeDefence="enemyTotalMeleeDefence"
        />
        <IdleGame.RazorComponents.DraggableStack/>
    </div>
    <div>
        <h3>Combat</h3>
        <IdleGame.RazorComponents.CombatComponent/>
        <IdleGame.RazorComponents.UnitsRemaining Battalions="GlobalSave.NewSave.EnemyUnits"/>
    </div>
</div>



@code {
    public bool paused = false;
    public CancellationTokenSource cancellationTokenSource;
    public  CancellationToken cancellationToken;
    bool showModal = false;
    bool lightDirectionRight = true;
    bool lightDirectionRightInner = true;
    bool shouldRender = true;
    int currentCase = 1;
    string[] colorAnimationSchemeLight =["#f8fc6f","#e9ed55", "#e1e62e", "#c7cc06", "#fcbc62", "#e6a64c", "#cc8829", "#a8680f", "#854e03", "#ed773b",
                                        "#cc5c23", "#a3400d", "#7d2c02", "#eb6854", "#c44531", "#9c2816", "#7d190a", "#9c0e0e",
                                         "#ede855", "#cfca48", "#b5b13e", "#999634", "#7d7a29", "#615f20", "#474618", "#363412", "#362612", "#573d1d",
                                         "#755227", "#946832", "#b07c3c", "#cf9146", "#f0a74f","#f08d4f", "#d67e47", "#b86c3d", "#965933", "#7a4828", "#57331c",
                                          "#451e15", "#662c1f", "#8a3b29", "#b04c35", "#d45b3f", "#f06748"];
    string[] colorAnimationSchemeLightInner =["#f55", "#de4747", "#ba3a3a", "#ba3a3a", "#ba3a3a", "#ba3a3a", "#2e0e0e", "#2e0e0e", "#691f1f", "#822626", 
                                              "#9e2e2e", "#b83535", "#b83535", "#d43d3d", "#fa4848"];
    int lightAnimationValue = 0;
    int lightAnimationInnerValue = 0;

    int currentTotalHealth = 0;
    int currentTotalMageOffence = 0;
    int currentTotalMageDefence = 0;
    int currentTotalRangeOffence = 0;
    int currentTotalRangeDefence = 0;
    int currentTotalMeleeOffence = 0;
    int currentTotalMeleeDefence = 0;
    int playerTotalHealth = 0;
    int playerTotalMageOffence = 0;
    int playerTotalMageDefence = 0;
    int playerTotalRangeOffence = 0;
    int playerTotalRangeDefence = 0;
    int playerTotalMeleeOffence = 0;
    int playerTotalMeleeDefence = 0;
    int enemyTotalHealth = 0;
    int enemyTotalMageOffence = 0;
    int enemyTotalMageDefence = 0;
    int enemyTotalRangeOffence = 0;
    int enemyTotalRangeDefence = 0;
    int enemyTotalMeleeOffence = 0;
    int enemyTotalMeleeDefence = 0;
    long playerDamage = 0;
    long enemyDamage = 0;
    
    protected override async Task OnInitializedAsync(){
        GlobalSave.OnPlayerUnitsChanged += StatUpdater;

        if (GlobalBool.TimerStarted == false){
            GlobalSave.NewSave = new TutorialSave();
        }
        GlobalPage.PageNumber = 1;

         if (await localStorage.GetItemAsync<EmptySave>("saveState") == null){
            await localStorage.SetItemAsync<EmptySave>("saveState", GlobalSave.NewSave);
            showModal = true;
            GlobalSave.NewSave = await localStorage.GetItemAsync<EmptySave>("saveState");
        }
        else {
            GlobalSave.NewSave = await localStorage.GetItemAsync<EmptySave>("saveState");
            StatUpdater();
        }

        if (GlobalBool.TimerStarted == false){
            GlobalVariable.FirstRender = false;
            GlobalBool.TimerStarted = true;
            await JSRuntime.InvokeVoidAsync("timerWorker.start");
            GlobalSave.OnTimeChanged += SaveLocalStorage;
        }
    }
    
    [JSInvokable]
    public static async Task OnTimerTick() {
        GlobalSave.NotifyTimeChanged();
        await Task.CompletedTask;
    }
    // Currently responsible for using javascript web worker to save current save to local storage
    private void SaveLocalStorage() {
        GlobalSave.NewSave.PlayerUnits.Wizards.Count ++;
        localStorage.SetItemAsync<EmptySave>("saveState", GlobalSave.NewSave);
        GlobalSave.NotifyPlayerUnitsChanged();
        InvokeAsync(StateHasChanged);
    }
    public void Dispose() {
        JSRuntime.InvokeVoidAsync("timerWorker.stop");
    }
    public void JsTimerStart() {
        JSRuntime.InvokeVoidAsync("timerWorker.start");
    }
    public void Pause() {
        if (paused == true) {
            paused = false;
            JsTimerStart();
        }
        else {
            paused = true;
            Dispose();
        }
    }
    public async Task ResetFile() {
        await localStorage.RemoveItemAsync("saveState");
        NavManager.NavigateTo("/", forceLoad:true); // reloads the page so that creation of a new character can trigger
    }
    @* public async Task GameTimer(){
        while (GlobalBool.TimerStarted){
            try {
                await localStorage.SetItemAsync<EmptySave>("saveState", GlobalSave.NewSave);
                await Task.Delay(1000);
                StateHasChanged();
            }
            catch (TaskCanceledException) {
            }
        }
    } *@
    public void ProcessBattle(object battalions) {
        int totalHealth = 0;
        int totalMageOffence = 0;
        int totalMageDefence = 0;
        int totalRangeOffence = 0;
        int totalRangeDefence = 0;
        int totalMeleeOffence = 0;
        int totalMeleeDefence = 0;
        
        foreach (PropertyInfo unit in battalions.GetType().GetProperties()){
            var unitCount = unit.GetValue(battalions);
            if (unitCount != null){
                var unitProperty = unitCount.GetType().GetProperty("Unit");
                var countProperty = unitCount.GetType().GetProperty("Count");
                if (unitProperty != null){
                    var unitInstance = unitProperty.GetValue(unitCount);
                    var numUnits = countProperty.GetValue(unitCount);
                    foreach (var property in unitInstance.GetType().GetProperties()){

                    // Add each unit's property values to the corresponding totals
                    switch (property.Name) {
                        case "Health":
                            totalHealth += ((int)property.GetValue(unitInstance) * Convert.ToInt32(numUnits));
                            break;
                        case "MagicOffence":
                            totalMageOffence += ((int)property.GetValue(unitInstance) * Convert.ToInt32(numUnits));
                            break;
                        case "MagicDefence":
                            totalMageDefence += ((int)property.GetValue(unitInstance) * Convert.ToInt32(numUnits));
                            break;
                        case "RangeOffence":
                            totalRangeOffence += ((int)property.GetValue(unitInstance) * Convert.ToInt32(numUnits));
                            break;
                        case "RangeDefence":
                            totalRangeDefence += ((int)property.GetValue(unitInstance) * Convert.ToInt32(numUnits));
                            break;
                        case "MeleeOffence":
                            totalMeleeOffence += ((int)property.GetValue(unitInstance) * Convert.ToInt32(numUnits));
                            break;
                        case "MeleeDefence":
                            totalMeleeDefence += ((int)property.GetValue(unitInstance) * Convert.ToInt32(numUnits));
                            break;
                        default:
                    break;
                    }

                    }
                }
            }
        }
        currentTotalHealth = totalHealth;
        currentTotalMageOffence = totalMageOffence;
        currentTotalMageDefence = totalMageDefence;
        currentTotalRangeOffence = totalRangeOffence;
        currentTotalRangeDefence = totalRangeDefence;
        currentTotalMeleeOffence = totalMeleeOffence;
        currentTotalMeleeDefence = totalMeleeDefence;
    }

    // Combat calculator to handle player kingdom under siege
    public void StatUpdater() {
        // Collect total stats for player character
        ProcessBattle(GlobalSave.NewSave.PlayerUnits);

        // Create variable to hold all of the current player stats
        playerTotalHealth = currentTotalHealth;
        playerTotalMageOffence = currentTotalMageOffence;
        playerTotalMageDefence = currentTotalMageDefence;
        playerTotalRangeOffence = currentTotalRangeOffence;
        playerTotalRangeDefence = currentTotalRangeDefence;
        playerTotalMeleeOffence = currentTotalMeleeOffence;
        playerTotalMeleeDefence = currentTotalMeleeDefence;
        
        // Collect total stats for enemy character
        ProcessBattle(GlobalSave.NewSave.EnemyUnits);

        // Create variable to hold all of hte current enemy stats
        enemyTotalHealth = currentTotalHealth;
        enemyTotalMageOffence = currentTotalMageOffence;
        enemyTotalMageDefence = currentTotalMageDefence;
        enemyTotalRangeOffence = currentTotalRangeOffence;
        enemyTotalRangeDefence = currentTotalRangeDefence;
        enemyTotalMeleeOffence = currentTotalMeleeOffence;
        enemyTotalMeleeDefence = currentTotalMeleeDefence;

        // Update the ui to reflect changes
        InvokeAsync(StateHasChanged);
    }
    public async Task DamageCalculator() {
        playerDamage = 0;
        enemyDamage = 0;
        // Determine player's damage
        if (playerTotalMageOffence <= enemyTotalMageDefence) {
            double mageRatio = 0;
            
            mageRatio = Math.Round((double)playerTotalMageOffence/enemyTotalMageDefence, 3);
            playerDamage += (int)(playerTotalMageOffence * mageRatio);

        }
        else {
            double mageDamage = Math.Log(playerTotalMageOffence - enemyTotalMageDefence)*playerTotalMageOffence;
            playerDamage += (int)mageDamage;
        }

        if (playerTotalRangeOffence <= enemyTotalRangeDefence) {
            double rangeRatio = 0;
            
            rangeRatio = Math.Round((double)playerTotalRangeOffence/enemyTotalRangeDefence, 3);
            playerDamage += (int)(playerTotalRangeOffence * rangeRatio);

        }
        else {
            double rangeDamage = Math.Log(playerTotalRangeOffence - enemyTotalRangeDefence)*playerTotalRangeOffence;
            playerDamage += (int)rangeDamage;
        }

        if (playerTotalMeleeOffence <= enemyTotalMeleeDefence) {
            double meleeRatio = 0;
            
            meleeRatio = Math.Round((double)playerTotalMeleeOffence/enemyTotalMeleeDefence, 3);
            playerDamage += (int)(playerTotalMeleeOffence * meleeRatio);

        }
        else {
            double meleeDamage = Math.Log(playerTotalMeleeOffence - enemyTotalMeleeDefence)*playerTotalMeleeOffence;
            playerDamage += (int)meleeDamage;
        }

        // Determine enemy's damage
        if (enemyTotalMageOffence <= playerTotalMageDefence) {
            double mageRatio = 0;
            
            mageRatio = Math.Round((double)enemyTotalMageOffence/playerTotalMageDefence, 3);
            enemyDamage += (int)(enemyTotalMageOffence * mageRatio);

        }
        else {
            double mageDamage = Math.Log(enemyTotalMageOffence - playerTotalMageDefence);
            enemyDamage += (int)mageDamage;
        }

        if (enemyTotalRangeOffence <= playerTotalRangeDefence) {
            double rangeRatio = 0;
            
            rangeRatio = Math.Round((double)playerTotalRangeOffence/playerTotalRangeDefence, 3);
            enemyDamage += (int)(enemyTotalRangeOffence * rangeRatio);

        }
        else {
            double rangeDamage = Math.Log(enemyTotalRangeOffence - playerTotalRangeDefence);
            enemyDamage += (int)rangeDamage;
        }

        if (enemyTotalMeleeOffence <= playerTotalMeleeDefence) {
            double meleeRatio = 0;
            
            meleeRatio = Math.Round((double)playerTotalMeleeOffence/playerTotalMeleeDefence, 3);
            enemyDamage += (int)(enemyTotalMeleeOffence * meleeRatio);

        }
        else {
            double meleeDamage = Math.Log(enemyTotalMeleeOffence - playerTotalMeleeDefence);
            enemyDamage += (int)meleeDamage;

        }
    }

    public void BuildWizard() {
        GlobalSave.NewSave.PlayerUnits.Wizards.Count += 5;
        GlobalSave.NotifyPlayerUnitsChanged();
        foreach (PropertyInfo prop in typeof(PlayerBattalions).GetProperties()){
            var unitCount = prop.GetValue(GlobalSave.NewSave.PlayerUnits);
            if (unitCount != null){
                PropertyInfo countProp = unitCount.GetType().GetProperty("Count");
                if (countProp != null){
                    int? count = (int?)countProp.GetValue(unitCount);
                    Console.WriteLine($"{prop.Name}: {count}");
                }
            }
            
        }
    
    }

    public async Task CastleAnimation() {
        while (GlobalPage.PageNumber == 1){
            if (lightAnimationValue == 0){
                lightDirectionRight = true;
                lightAnimationValue ++;
            }
            else if (lightAnimationValue == colorAnimationSchemeLight.Length-1){
                lightDirectionRight = false;
            }
            if (lightDirectionRight){
                lightAnimationValue ++;
            }
            else {
                lightAnimationValue --;
            }
            if (lightAnimationInnerValue == 0){
                lightDirectionRightInner = true;
                lightAnimationInnerValue ++;
            }
            else if (lightAnimationInnerValue == colorAnimationSchemeLightInner.Length-1){
                lightDirectionRightInner = false;
            }
            if (lightDirectionRightInner){
                lightAnimationInnerValue ++;
            }
            else {
                lightAnimationInnerValue --;
            }
            StateHasChanged();
            await Task.Delay(200);
        }
    }
     private async Task HandleSubmit(string titleAndName)
    {
        showModal = false;
        // You can use the titleAndName value here
        await Task.CompletedTask;
    }

    void ToggleModal()
    {
        showModal = !showModal;
    }
    void HandleCloseModal()
    {
        showModal = false; // Update the showModal variable to close the modal
    }
}
