.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    position: absolute;
    background-color: #2f382f;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    z-index: 1;
    bottom: 100%; /* Position the tooltip above the text */
    left: 50%;
    opacity: 0.9; /* Slight transparency for a better look */
    width: 120px; /* Set the width of the tooltip */
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #2f382f transparent transparent transparent;
}
